<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>me.tonsky.keyboardlayout.levinson</string>
	<key>CFBundleName</key>
	<string>Levinson</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>KLInfo_English - Levinson</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.tonsky.keyboardlayout.levinson.english-levinson</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Russian - Levinson</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>me.tonsky.keyboardlayout.levinson.russian-levinson</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
</dict>
</plist>
